name: Container Image CI

permissions:
  contents: write

on:
  push:
    branches: ['main']
  workflow_dispatch: {}

jobs:
  docker:
    name: Build and Push Container Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: kubenest
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64
          tags: |
            kubenest/ticketd:latest
            kubenest/ticketd:${{ github.sha }}
